name: Check release

on:
  push:
    branches:
      - "release/**"
  # TODO!: We might want to do it manually? Not sure.
  # workflow_dispatch:
  #   inputs:
  #     crate:
  #       description: Crate to release
  #       required: true
  #       type: choice
  #       options:
  #         - aes256ctr_poly1305aes

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  determine-package:
    name: Determine package to release
    runs-on: ubuntu-latest
    outputs:
      package: ${{ steps.determine-package-name.outputs.package }}
    steps:
      - name: Determine package
        id: determine-package-name
        run: |
          if [[ ${{ github.ref }} == *"aes256ctr_poly1305aes"* ]]; then
          echo "package=aes256ctr_poly1305aes" >> $GITHUB_OUTPUT
          fi

  semver-check:
    name: Check SemVer
    runs-on: ubuntu-latest
    needs: determine-package
    strategy:
      matrix:
        rust: [stable]
        job:
          - os: ubuntu-latest
          # - os: windows-latest # Panics
          # - os: macos-latest # Panics
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1482605bfc5719782e1267fd0c0cc350fe7646b8 # v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2

      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@7272cc2caa468d3e009a2b0a9cc366839348237b # v2
        with:
          package: ${{ needs.determine-package.outputs.package }}
